.blog {
    position: relative;
    min-height: 1017px;
    padding: 164px 0 109px;
    &_letter {
        position: absolute;
        top: 76px;
        left: 50%;
        transform: translateX(-50%);
        @include letter;
        color: #d7d7d7;
        z-index: -1;
    }
    &_title {
        @include title;
        color: #222222;
    }
    &_subtitle {
        margin-top: 115px;
        font-size: 30px;
        line-height: 1;
        font-weight: 400;
        text-align: center;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 76px;
    }
    &_item {
        width: 270px;
        text-align: center;
    }
    &_img {
        width: 100%;
        height: 280px;
    }
    &_name {
        margin-top: 44px;
        font-size: 18px;
        line-height: 36px;
        font-weight: 500;
        text-transform: uppercase;
        color: $main_color;
    }
    &_text {
        margin-top: 26px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
    }
}
@media (max-width: 991px) {
    .blog {
        &_name {
            font-size: 20px;
        }
        &_text {
            width: 144px;
            line-height: 22px;
        }
    }
}
@media (max-width: 767px) {
    .blog {
        &_item {
            width: 33%;
            &:nth-child(4) {
                display: none;
            }
        }
    }
}
@media (max-width: 572px) {
    .blog {
        padding: 144px 0 20px;
        &_letter {
            font-size: 195px;
        }
        &_text {
            width: 125px;
        }
        &_img {
            height: 200px;
        }
    }
}
@media (max-width: 474px) {
    .blog {
        &_item {
            width: 50%;
            &:nth-child(3) {
                display: none;
            }
        }
        &_name {
            margin-top: 14px;
        }
        &_text {
            width: 140px;
        }
        
    }
}
@media (max-width: 374px) {
    .blog {
        padding: 96px 0 20px;
        &_letter {
            top: 33px;
        }
        &_name {
            font-size: 18px;
        }
        &_text {
            font-size: 12px;
            width: 135px;
        }
        &_item:nth-child(1) {
            margin-right: 10px;
        }
        &_item {
            width: 49%;
        }
    }
}