.promo {
    height: 1082px;
    background: url(../img/mainbg.jpg) center center/cover no-repeat;
    padding: 0 0 185px;
    .menu {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1160px;
        height: 115px;
        margin: 0 auto;
    }
    &_under {
        height: 100%;
        background-color: rgba(#000, .7);
    }
    &_logo {
        position: relative;
        width: 67px;
        height: 67px;
        margin-right: 150px;
        .layer1, .layer2 {
            width: 67px;
            position: absolute;
            transition: 0.5s;
            height: 67px;
            background: #2471A3;
            color: white;
            font-size: 28px;
            padding: 14px;
        }
        .layer1 {
            background: grey;
        }
        .layer2 {
            animation: logo 4s ease infinite;
            transform: translate(0, 0);
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 659px;
        a {
            font-family: 'Myriad Pro';
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 65px;
            height: 120px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
            text-decoration: none;
            margin-bottom: 35px;
            span {
                display: none;
                width: 100%;
                height: 6px;
                background-color: $main_color;
            }
            &:hover {
                color: $main_color;
                span {
                    display: block;
                }
            }
        }
    }
    &_socials {
        display: flex;
        justify-content: space-between;
        width: 141px;
        span {
            font-size: 20px;
            color: #f5f5f5;
            &:hover {
                color: $main_color;
            }
        }
    }
    &_line {
        border: none;
        height: 1px;
        background-color: #7f7f7d;
    }
    &_title {
        font-size: 152.6px;
        line-height: 0.8;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        color: #f5f5f5;
        text-align: center;
        margin-top: 272px;
    }
    &_subtitle {
        font-size: 24.8px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.74em;
        color: #fff;
        margin-top: 36px;
        text-align: center;
    }
    &_scroll {
        margin-top: 118px;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }
    &_scrArrow {
        div {
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border: 1px solid white;
            border-radius: 100%;
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
            img {
                position: absolute;
                top: 7px;
                margin: 22px auto 0;
                display: block;
                animation: scroll 2s ease infinite;
            }
        }
    }
}
@keyframes scroll {
    0% {
        top: -7px;
    }
    100% {
        top: 17px;
    }
}
@keyframes logo {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-10px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@media (max-width: 1199px) {
    .promo {
        header {
            width: 881px;
        }
        &_logo {
            margin-left: 25px;
            margin-right: 0;
        }
        &_main {
            width: 885px;
        }
        nav {
            width: 550px;
        }
        &_title {
            font-size: 120px;
        }
        &_subtitle {
            font-size: 23px;
        }
    }
}
@media (max-width: 991px) {
    .promo {
        height: 865px;
        header {
            display: none;
        }
        &_title {
            font-size: 96px;
            margin-top: 205px;
        }
        &_subtitle {
            font-size: 17px;
        }
        &_main {
            display: none;
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 15px;
            top: 10%;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &-active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
        .menu {
            display: flex;
            justify-content: space-between;
            list-style: none;
            flex-direction: column;
            align-items: center;
            padding: 15px 50px;
            box-sizing: border-box;
            position: fixed;
            top: 0;
            left: -100%;
            width: 70%;
            height: 100vh;
            background-color: #000;
            transition: 0.6s all;
            z-index: 15;
            &_item {
                a {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 300;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &-active {
                left: 0;
            }
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &_title {
            font-size: 70px;
        }
        &_subtitle {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}
@media (max-width: 572px) {
    .promo {
        height: 815px;
        &_title {
            font-size: 52px;
        }
        &_subtitle {
            font-size: 12px;
        }
    }
}
@media (max-width: 424px) {
    .promo {
        &_title {
            font-size: 46px;
        }
    }
}
@media (max-width: 374px) {
    .promo {
        height: 680px;
        &_title {
            font-size: 38px;
            margin-top: 165px;
        }
        &_subtitle {
            padding: 0 10px;
        }
        &_scroll {
            margin-top: 65px;
        }
    }
}